<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F00EA7A1CE7D4A500B7892E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F00EA8E1CE7D4A500B7892E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F00EA991CE7D4A500B7892E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
